# Execute it as a markdown cell
# H1: Data Science Tools and Ecosystem

# Execute it as a markdown cell
# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Popular languages that data scientists use
- Common libraries used in data science
- Data science tools - development environment open source tools
- Arithmetic expressions

**Objectives**
- Popular languages that data scientists use
- Common libraries used in data science
- Data science tools - development environment open source tools
- Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the common libraries that Data Scientists use are:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow

Some of the common libraries that Data Scientists use are:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow

| Data Science Tools |
| -------------------|
| RStudio |
| Apache Spark|
| Apache Hadoop|

| Data Science Tools |
| -------------------|
| RStudio |
| Apache Spark|
| Apache Hadoop|

### INTRODUCING ARITHMETIC EXPRESSIONS: Below are a few examples of evaluating arithmetic expressions in Python

### INTRODUCING ARITHMETIC EXPRESSIONS: Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes into hours bby dividing by 60
(200/60)

3.3333333333333335

## Author:Sukriti Anantharaman

## Author:Sukriti Anantharaman